.section1 .carousel-container {
  max-width: 1200px;
  margin: 0 auto;
}

.section1 .carousel-item {
  display: flex !important;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  width: 372px;
  height: 486px;
  background-color: #fff;
  overflow: hidden;
}

.section1 .slick-slide:not(.slick-center) .carousel-item {
  transform: scale(0.8);
  border: 2px solid rgb(101, 101, 101);
}

.section1 .slick-center .carousel-item {
  transform: scale(1);
  border: 2px solid black;
}

.section1 .carousel-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
